/* .showColor {
  width: 500px;
  height: 500px;
  background-color: aliceblue;
  color: blue;
} */

body {
  height: 100vh;
  width: 100vw;
}

/* newly added classes in test.html */
.picked-color,
#showColorDiv {
  background-color: beige;
  color: darkmagenta;
  border-radius: 10px;
  height: 100px;
}
#color-rgb-display {
  background-color: bisque;
  height: 6rem;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: large;
}
#R {
  background-color: red;
  border-radius: 10px 0 0 10px;
  height: 100%;
  opacity: 70%;
}
#G {
  background-color: green;
  height: 100%;
  opacity: 70%;
}
#B {
  background-color: blue;
  opacity: 70%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

#divColor1,
#divColor2 {
  height: 100px;
  background-color: beige;
  color: darkmagenta;
}

#divColor1 {
  border-radius: 10px 0 0 10px;
}
#divColor2 {
  border-radius: 0 10px 10px 0;
}

.progress {
  height: 20px;
}

/* Color spectrum */
.color-spectrum {
  width: 100%;
  height: 100px;
  /* Linear gradient from red to violet */
  background: linear-gradient(
    to left,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    grey,
    black
  );
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#rainbow,
#d-rainbow {
  display: block;
}

@media screen and (max-width: 767px) {
  #rainbow,
  #d-rainbow {
    display: none; /* Hide the div on screens smaller than 768px */
  }
}
